* { font-family: "Terminus (TTF)", monospace; font-size: 16px; }
window#waybar { background-color: rgba(0,0,0,0.75); }

@keyframes pulse { to { color: #ffffff; } }
@keyframes flash { to { background-color: #ffffff; } }
@keyframes luminate { to { background-color: #b0b0b0; } }

/* Padding */
#workspaces,
#scratchpad,
#window,
#custom-media,
#gamemode,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#network,
#wireplumber,
#clock {
	padding: 0 5px;
}

/* Workspaces */
#workspaces button { border: none; border-radius: 0; padding: 0 5px; }
#workspaces button:hover { background: inherit; }
#workspaces button.focused { background-color: #ffffff; color: #000000; }
#workspaces button.urgent { background-color: #404040; animation: luminate 1s steps(30) infinite alternate; }

/* Media */
#custom-media.Paused { color: #606060; }
#custom-media.Playing {}

/* Gamemode */
#gamemode { color: #00ff00; }

/* Bluetooth */
#bluetooth { color: #00d0ff; }

/* Resources */
#disk {}
#memory {}
#cpu {}

/* Temperature */
#temperature {}
#temperature.critical { color: #000000; background-color: #800000; animation: flash .25s steps(10) infinite alternate; }

/* Network */
#network {}
#network.disabled { color: #ff0000; }
#network.disconnected { color: #ff8000; }
#network.linked, #network.ethernet, #network.wifi { color: #00ff00; }

/* Volume */
#wireplumber {}
#wireplumber.muted { color: #ff0000; }

/* Battery */
#battery:not(.charging) { color: #ff8000; }
#battery.charging, #battery.full { color: #00ff00; }
#battery.warning:not(.charging) { color: #800000; animation: pulse .5s steps(15) infinite alternate; }
#battery.critical:not(.charging) { color: #000000; background-color: #800000; animation: flash .25s steps(10) infinite alternate; }

/* Clock */
#clock {}
