#window {
	font-family: "Terminess Nerd Font";
	font-size: 16px;
	background-color: black;
	color: white;
}

#input {
	border: none;
	background-color: black;
}

#outer-box {
	margin: 5px;
}

#entry:selected {
	background-color: white;
}

#text:selected {
	color: black;
}
